# Ignore directory named 'logs'
logs/

# Ignore all files and directories inside 'temp'
temp/

# Ignore specific subdirectory 'output' inside a folder 'build'
build/output/

# Ignore specific subdirectory 'bin' inside a folder 'build'
bin/
